.card {
  width: 252px;
  height: 265px;
  margin: 0 auto;
  background: var(--secondary);
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.img {
  position: relative;
  width: 100%;
  height: 50%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: var(--linearSecondaryAccent);
  display: flex;
  align-items: start;
  justify-content: right;
}

.img img{
  width: 80%;
  height: auto;
  margin: auto;
}

.save {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-box {
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.text .h3 {
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin: 0;
}

.text .p {
  color: var(--text-disable);
  font-size: 13px;
  margin: 0;
}

.icon-box .span {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  color: var(--text);
  margin: 0;
}

.card:hover {
  cursor: pointer;
}

.save:hover {
  transform: scale(1.1) rotate(10deg);
}
