section {
  padding: 32px 0;
  background-color: var(--background-second);
}
h2 {
  margin: 0 auto 32px auto;
  text-align: center;
  font-family: 'Jersey25', sans-serif;
  font-size: 48px;
}

.carousel-container {
  width: 50%;
  margin: 0 auto;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: blue !important;
}


