<nav class="navbar">
  <h1>{{nameApp}}</h1>

  <ul class="navbar-list">
    <li class="nav-item-list"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
    <li class="nav-item-list"><a routerLink="/products" routerLinkActive="active">Boutique</a></li>
    <li class="nav-item-list"><a routerLink="/about" routerLinkActive="active">A propos</a></li>
    <li class="nav-item-list"><a routerLink="/support" routerLinkActive="active">Support</a></li>
    <li class="nav-item-list"><a routerLink="/login" routerLinkActive="active">Connexion</a></li>
  </ul>
</nav>
